<app-header titulo="Consulta de Ventas" menu="Ventas"></app-header>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <label for="tipoFiltro">Consultar por:</label>
            <br>
            <select [(ngModel)]="tipoFiltro" name="tipoFiltro" class="form-control">
                <option value="fecha">Fecha</option>
                <option value="turno">Turno</option>
            </select>
        </div>
        <div class="col-md-4" *ngIf="tipoFiltro=='fecha'">
            <label *ngIf="tipoFiltro=='fecha'" for="fechaDesde">Fecha-Inicial</label>
            <br>
            <owl-date-time *ngIf="tipoFiltro=='fecha'" [showSecondsTimer]="true" [min]="fechaLimitada" dataType="string" [locale]="es"
                dateFormat="YYYYMMDD HHmmss" [(ngModel)]="fechaDesde" name="fechaDesde"></owl-date-time>
        </div>
        <div class="col-md-4" *ngIf="tipoFiltro=='fecha'">
            <label *ngIf="tipoFiltro=='fecha'" for="fechaHasta">Fecha-Final</label>
            <owl-date-time *ngIf="tipoFiltro=='fecha'" [showSecondsTimer]="true" dataType="string" [locale]="es" dateFormat="YYYYMMDD HHmmss"
                [(ngModel)]="fechaHasta" name="fechaHasta"></owl-date-time>
        </div>

        <div class="col-md-4" *ngIf="tipoFiltro=='turno'">
            <label for="turnoDesde">Turno-Inicial</label>
            <select class="form-control" *ngIf="tipoFiltro=='turno'" name="turnoDesde" [(ngModel)]="turnoDesde">
                <option value="0">Seleccione un turno</option>
                <option *ngFor="let t of turnos" value="{{t.turno}}">Turno {{t.turno}}</option>
            </select>
        </div>

        <div class="col-md-4" *ngIf="tipoFiltro=='turno'">
            <label *ngIf="tipoFiltro=='turno'" for="turnoHasta">Turno-Final</label>
            <select class="form-control" *ngIf="tipoFiltro=='turno'" name="turnoHasta" [(ngModel)]="turnoHasta">
                <option value="0">Seleccione un turno</option>
                <option *ngFor="let t of turnos" value="{{t.turno}}">Turno {{t.turno}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="PumpsSelected">Lados</label>
            <br>
            <ng-select [items]="Pumps"
                bindLabel="name"
                bindValue="id"
                [multiple]="true"
                placeholder="Seleccione los lados"
                [(ngModel)]="PumpsSelected">
            </ng-select>
        </div>
        <div class="col-md-3">
            <label for="ProductsSelected">Productos</label>
            <br>
            <ng-select [items]="Products"
                bindLabel="name"
                bindValue="id"
                [multiple]="true"
                placeholder="Seleccione los productos"
                [(ngModel)]="ProductsSelected">
            </ng-select>
        </div>
    </div>

    <div class="mb-3 mt-3 row">
        <div class="col-md-4">
            <label for="filtroCampo">Filtrar por:</label>
            <select [(ngModel)]="filtroCampo" name="filtroCampo" class="form-control">
                <option value="monto">Monto</option>
                <option value="volumen">Volumen</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="campoDesde">Desde:</label>
            <input class="form-control" type="number" name="campoDesde" [(ngModel)]="campoDesde">
        </div>
        <div class="col-md-4">
            <label for="campoHasta">Hasta:</label>
            <input class="form-control" type="number" name="campoHasta" [(ngModel)]="campoHasta">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <button (click)="reiniciarCampos()" class="btn btn-sm btn-warning mb-2">Reiniciar</button>
        </div>

        <div class="col-sm-9">
            <div class="btn-group pull-right" role="group" aria-label="Basic example">
                <button type="button" (click)="Limpiar()" class="btn btn-warning">
                    <i class="fa fa-refresh" aria-hidden="true"></i> Limpiar</button>
                <button type="button" (click)="check_fields()" class="btn btn-success">
                    <i class="fa fa-table" aria-hidden="true"></i> Consultar</button>
                <button type="button" (click)="exportToExcel()" class="btn btn-dark">
                    <i class="fa fa-file-excel" aria-hidden="true"></i> Exportar a excel</button>
                <div class="nav-item dropdown">
                    <a class="btn btn-danger dropdown-toggle" style=" border-radius: 0px 5px 5px 0px;" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Gráficos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="Reporte('hora/lado_volumen')">
                            <i class="fa fa-line-chart" aria-hidden="true"></i> Volumen por Hora/Lado</a>
                        <a class="dropdown-item" (click)="Reporte('hora/lado_monto')">
                            <i class="fa fa-line-chart" aria-hidden="true"></i> Monto por Hora/Lado</a>
                        <a class="dropdown-item" (click)="Reporte('hora/producto_volumen')">
                            <i class="fa fa-line-chart" aria-hidden="true"></i> Volumen por Hora/Producto</a>
                        <a class="dropdown-item" (click)="Reporte('hora/producto_monto')">
                            <i class="fa fa-line-chart" aria-hidden="true"></i> Monto por Hora/Producto</a>
                        <a class="dropdown-item" (click)="Reporte('monto/producto')">
                            <i class="fa fa-pie-chart" aria-hidden="true"></i> Gráfico Monto/Producto</a>
                        <a class="dropdown-item" (click)="Reporte('volumen/producto')">
                            <i class="fa fa-pie-chart" aria-hidden="true"></i> Gráfico Volumen/Producto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center" *ngIf="loadingData">
        <div class="hidden">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Monto Vendido</label>
                <input [ngModel]="MontoVendido | number:'1.0-2'" (ngModelChange)="MontoVendido=$event" name="MontoVendido" type="text" disabled
                    class="form-control" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Volumen Vendido</label>
                <input [ngModel]="VolumenVendido | number:'1.0-2'" (ngModelChange)="VolumenVendido=$event" name="VolumenVendido" type="text" disabled
                    class="form-control" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Cantidad Ventas</label>
                <input [ngModel]="CantidadDespachada | number:'1.0-2'" (ngModelChange)="CantidadDespachada=$event" name="CantidadDespachada" type="text"
                    disabled class="form-control" />
            </div>
        </div>
    </div>
    <div *ngIf="listing" class="table-responsive">
        <table width="100%" class="table display responsive table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Hora-Inicial</th>
                    <th>Hora-Final</th>
                    <th>Fecha-Inicial</th>
                    <th>Fecha-Final</th>
                    <th>Lado</th>
                    <th>Manguera</th>
                    <th>Combustible</th>
                    <th>Volumen</th>
                    <th>Monto</th>
                    <th>Precio</th>
                    <th>Volumen-Inicial</th>
                    <th>Volumen-Final</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let venta of Ventas | paginate: {id:'serverConsulting', itemsPerPage: 10, currentPage: p, totalItems:total }">
                    <td>{{venta.SaleId}}</td>
                    <td>{{venta.StartTime}}</td>
                    <td>{{venta.EndTime}}</td>
                    <td>{{venta.StartDate}}</td>
                    <td>{{venta.EndDate}}</td>
                    <td>{{venta.Pump}}</td>
                    <td>{{venta.Nozzle}}</td>
                    <td>{{venta.ProductName}}</td>
                    <td>{{venta.Volume | number:'1.0-2'}}</td>
                    <td>{{venta.Money | number:'1.0-2'}}</td>
                    <td>{{venta.Precio | number:'1.0-2'}}</td>
                    <td>{{venta.initial_volume | number:'1.0-2'}}</td>
                    <td>{{venta.final_volume | number:'1.0-2'}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <pagination-controls (pageChange)="ConsultarVentas($event)" id="serverConsulting" previousLabel="Anterior" nextLabel="Siguiente"
                screenReaderPaginationLabel="Paginación" screenReaderPageLabel="Página" screenReaderCurrentLabel="Se encuentra en la página"></pagination-controls>
        </div>
    </div>
    <div *ngIf="!listing" id="container" style="height: 1000px;"></div>
</div>
<!-- Page Footer-->
<app-footer></app-footer>
